:root{
    --color1:#000000;
    --color2:#ffffff;
    --color3:#EB6EC8;
    --color4:#92FF8F;
    --color5:#242424;
}
.main{
    width: 1653px;
    height: auto;
    background-image:url('./img/background/main/Rectangle\ 69.jpg');
}
html,body{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    width: 0px;
    height: 0px;
}
h1,h2,h3,h4,h5{
    margin: 0 0 0 0;
}
section{
}
ul,li{
    list-style: none;
    margin: 0 0 0 0;
    width: auto;
    height: auto;
    padding: 0 0 0 0;
  }
  button{
    box-sizing: border-box;
      height: 39px;
      border:none;
      background:var(--color1);
      border-right: 1px solid var(--color2);
      width: auto;
      color:var(--color2);
      border:none;
  }
  ul,li{
    list-style: none;
    margin: 0 0 0 0;
    width: auto;
    height: auto;
    padding: 0 0 0 0;
  }
.container{
    margin-left: 220px;
    margin-right: 220px;
}
.head{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background-color:var(--color5);
}
.btn_head{
margin: auto;
}
.title_ganery{
    margin-left: 111px;
}
.title{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;
/* identical to box height */
color: #FFFFFF;
}
.card { 
}
.card img{ 
    width: 271px;
    height: 411px;
}

.category{
    width: 1212px;
    min-height: 1038px;
    height:auto;
    background:var(--color5);
}
.block{
    overflow: auto;
    gap: 20px;
    display: flex;
    height: auto;
    min-height:271px;
    background-image:url('./img/background/main/1661429614_47-oir-mobi-p-fon-knizhnie-polki-instagram-54.jpg');
}
@media (max-width: 768px){
    .main{
        width: 900px;
        height: auto;
    }
    .container{
        margin-left: 0px;
        margin-right: 0px;
    }
    .category{
        width: 900px;
    }
    .genre{
        width:900px;
    }
    .genre h1,h2{
        font-size: 20px;
    } 
    .all{
        margin-left: -170px;
    }
    .block{
        width: 700px;
    }
    .container_anime{
        width: 612px;
        min-height: 472px;
    }
    .card img{ 
        width: 271px;
        height: 211px;
    }
}
.block h1{
    width: 123;
    color: rgb(255, 255, 255);
    margin-top: 100px;
}
.anime_flex{
    display: flex;
    gap: 71px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-bottom: 80px;
}
.flex{
    display:flex;
}
.plus{
    width: 50px;
    height: 50px;
    margin: 0 0 0 60px;
}
.title{
    width: 143px;
    height:35px;
}
.btn_head{
    width: 228px;
    height: 83px;
}
.btn_head img{
    width: 47px;
    height: 45px;
    margin-left: 20px;
}
.btn_head img:hover,
.btn_head img:focus{
    cursor: pointer;
}
.btn_head h1{
    margin-left: 50px;
}
.hero-section{
}

.container_category{
    width: auto;
    margin-top: 80px;
    min-height: 246px;
    margin-left: 54px;
    margin-right: 54px;
}
.txt{
    margin-bottom:15px;
}
.anime{
    width: 1212px;
    height: auto;
    background-color:var(--color5);
}
.container_anime{
    max-width: 1077px;
    min-height: 472px;
    margin-left: 68px;
    margin-right: 68px;
}

.card_container{
    display: flex;
}
.genre{
    min-height:553px;
    background:var(--color5);
}
.list_genre{
    width: auto;
    height: auto;
    margin-left:47px;
    margin-bottom:86px;
}
.title_list{
    width: 143px;
    height: 44px;
    margin: auto;
    margin-bottom: 72px;
}
.list{
    display: flex;
    gap:70px;
    margin-left: 20px;
}
.genre-btn{ 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 44px;
    color: var(--color2);
}
.burger{
width: 47px;
height: 39px;
}
.container_btns{
    width: 117px;
    height: 148px;
    background:var(--color5);
    margin-left: 154px;
    display: none;
}
.btn_category{
    min-width:117px;
}
/* card */

.image-container {
    position: relative;
  }
  
  .image-container img {
    max-width: 271px;
    height: 411px;
    display: block;
  }
  .btn{
    height: 39px;
    border-radius:0%;
    border-right:var(--color2) 1px solid;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
  .container_btn {
    position: absolute;
    display: flex;
    top: 96%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
  }
  .burger{
    width: 47px;
  }
  .btn-add-reading{
    width: 92px;
  }
  .container_btns{
    width: 117px;
    height:auto;
    background:var(--color5);
    display: none;
  }
  button:hover,
  button:focus{
    background-color:var(--color3);
}
.btn_category{
  min-width:117px;
  border-right: none;
}
.container_btns ul,li{
  width: 117px;
}
.btn_genre{
  min-width:85px;
  border-right: none;
}
.container_btns_genre{
  margin-left: 70px;
  margin-top: -39px;
  display: none;
}
.hide{
  display:none;
}
.show{
  display: block;
}
.hide-filter{
    opacity: 1;
    animation-name: a1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes a1 {
    to{
        opacity: 0;
        min-height: 0;
        min-width: 0;
        padding: 0;
        margin: 0;
        border:0;
    }
}
nav{
    cursor: pointer;
}
.active_btn{
    background-color:var(--color3);
}
