.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items:center;
  min-height: 10vh;
  background: rgb(70, 70, 79);
  color: white;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items:center;
 list-style: none;
}
ul img{
  width: 100px;
  height: 100px;
}
